body {
	/*background-color: #FF0000;*/
	color: #111111;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 16px;
	/*background-image: url("http://www.momorialcards.com/images/light_textured_backround.jpg");*/
	margin-left: auto;
    margin-right: auto;
    width: 50em

}

h1, h2, h3, h4, h5, h6	{
	color: #915BC7;
	color: rgba(145, 91, 199, 1.0);
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: 900;
	
}
h1{
	font-size: 60px;
	text-transform: uppercase;
	margin-bottom: 10px
}
h2 {
	font-size: 36px;
}
h4 {
	font-size: 16px;	
}

.italy {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
	
}
a {
	text-decoration: none;
}
a:hover {
	font-weight: bolder;
	font-style: italic;
	font-size: 1.1em
}
h1 a, footer {
	text-decoration: none;
}